src/main/mule/pushtogit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="72a968e7-f8e6-496a-b8e2-c7447df7d21e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="pushtogitFlow" doc:id="199a261e-f119-4930-9d25-befbaa642b6c" >
		<http:listener doc:name="Listener" doc:id="2f3ff115-e1b3-4c83-a54d-146793f9fd89" config-ref="HTTP_Listener_config" path="/github"/>
		<logger level="INFO" doc:name="Logger" doc:id="a0110aeb-8184-49c5-9760-477acd17adbb" message="#[payload]"/>
		<set-payload value="push the code to the git hub" doc:name="Set Payload" doc:id="665ab240-a9d6-4a43-bb05-123bab305fa5" />
	</flow>
</mule>
